.Clock_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
  background-position: center center;
  background-image: url('/arquivos/fondo-seccion-contador-de-tiempo-desktop.jpg');
  background-size: cover;
}

.Clock-title {
  color: white;
  font-size: 30px;
}

.Clock {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 20px 10px;
  border: white 1px solid;
  border-radius: 60px;
}

.Clock__Time {
  color: white;
  text-align: center;
}

.Clock__Time h2 {
  color: #00fdfb;
  font-size: 50px;
}

.Clock__Time h4 {
  font-size: 18px;
  text-transform: uppercase;
}
